@model IEnumerable<TherapyAssist.Models.ExerciseInterval>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.exercise.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientExercise_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repetitions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimesPerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.exercise.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientExercise_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repetitions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimesPerDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExerciseInterval_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExerciseInterval_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExerciseInterval_ID })
        </td>
    </tr>
}

</table>
